@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    position: absolute;
    width: 375px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
}

.content {
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 12px;
}

.text {
    margin: 30px;
    font-family: 'Outfit', 'Lobster', cursive;
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%) translateY(1%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}